.Rproj.user/
.Rhistory
.RData/
.Ruserdata/
.Rproj.user/
.Rproj.user

SARMD-Guidelines\.log

SARMD-Guidelines\.tex

_book/
_bookdown_files/

findings/variable_derivation/sarmd_vars_derivation\.dta
